* {

  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../img/Autumn_Mushrooms_nature_Pond_Bokeh_570375_3840x2400.jpg');
}


.imagem {
  width: 100vh;
  height: 100%;



}

.navbar {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
  padding: 15px;
  margin-left: 15px;
  border-radius: 10px 10px 10px 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  background-size: cover;
  width: 100%
}

.principal {

  width: 1000%;
  border: 2px solid #ffffff50;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.416);
  border-radius: 10px 10px;
  color: white;
  backdrop-filter: blur(10px);
  padding: 38px;
  width: 407px;
  margin: 20px;
  line-height: 1;
  margin-bottom: 15px;
}

.principal>h3 {
  margin-bottom: 10px;
}

.jone {
  color: white;
  margin-bottom: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  padding: 10px;
  border-radius: 10px 10px;
  border: 2px solid #ffffff50;
  left: 20px;
}

.jone2 {
  color: white;
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  padding: 10px;
  border-radius: 10px 10px;
  border: 2px solid #ffffff50;
  left: 20px;
}

.letra {
  color: white;
  margin-top: 45px;
  font-size: 10.0px;
  width: 17rem;
}


.container {
  display: flex;
  align-items: center;

}

div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

div li {
  margin-right: 20px;
}

div a {
  text-align: right;
  text-decoration: none;
  color: white;
  font-weight: bold;
}